body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f4f4f4; 
    color: #222;
    margin: 0;
    padding: 0;
}

header {
    background-color: #222;
    color: white;
    padding: 50px;
    text-align: center;
}

.contenido {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
}

h2, h3 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #eaeaea;
  margin: 10px 0;
  padding: 10px;
  border-radius: 6px;
}

img {
  max-width: 100%;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
}

footer {
  text-align: center;
  background-color: #222;
  color: white;
  padding: 15px;
}