* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #dceeff;
    padding: 40px 20px;
    text-align: center;
}

main {
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
}

section {
    background-color: white;
    margin-bottom: 20px;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* 
    Actividad:
    Mejora los estilos del botón.
    Puedes cambiar colores, bordes, tamaño o posición.
*/
#btnTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px 14px;
    cursor: pointer;
}