<section class="card p-4 shadow-sm">
    <h1>Sobre {{nombreTienda}}</h1>

    <p>
        MiniShop es una tienda ficticia creada para practicar el uso de Node.js,
        Express y Handlebars.
    </p>

    <p>
        En esta aplicación se trabaja con rutas, vistas dinámicas, parciales,
        layouts, helpers y archivos estáticos.
    </p>

    <img 
        src="https://images.unsplash.com/photo-1441986300917-64674bd600d8?w=900" 
        alt="Tienda MiniShop" 
        class="img-fluid rounded mt-3"
    >
</section>